.example-spacer {
  flex: 1 1 auto;
}

.example-headers-align{
  flex-basis: 0;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  background: #00307c;
  color: #edf2f4;
}

.nav-bar{
  height: 10vh;
  background: #00307c;
}

.nav-bar > .row {
  height: 100%;
  align-items: center;
  color: #edf2f4;
}

.nav-bar .title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  color: white;
}
