<div class="container-fluid">
  <div class="app-title">
    Eullo.
    <div class="description">Securely connect with your close ones</div>
  </div>
  <div class="login-container">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <form *ngIf="!isLoading" [formGroup]="loginForm" (ngSubmit)="login()" class="form">
        <div class="title">Login</div>
        <div class="input">
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="error">
              <strong>Wrong credentials</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="error">
              <strong>Wrong credentials</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button color="primary" type="button" class="button" [disabled]="loginForm.invalid || isLoading" (click)="login()">Login</button>
        </div>
        <div class="sign-up">Don't Have an Account? <a routerLink="/register">Register</a></div>
      </form>
  </div>
</div>


