<div class="container">
  <div class="app-title">
    Eullo.
    <div class="description">Securely connect with your close ones</div>
  </div>
  <div class="register-container">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <form *ngIf="!isLoading" [formGroup]="registerForm" (ngSubmit)="register()" class="form">
      <div class="title">Register</div>
      <div class="input">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Card Number</mat-label>
          <input matInput formControlName="cardNumber" required>
          <mat-error *ngIf="error">
            <strong>{{error}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>
      </div>
      <div class="input">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="error">
            <strong>{{error}}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
      </div>
      <div >
        <button mat-flat-button color="primary" class="button" type="button" [disabled]="registerForm.invalid || isLoading" (click)="register()">Register</button>
      </div>
      <div class="sign-up">Already Have an Account? <a routerLink="/login">Login</a></div>
    </form>
  </div>
</div>


